config.py
.venv/
__pycache__/
.DS_Store
*.xslx
*.ipynb
*.xsl
*.csv
db_conn.py
*.pgsql
/saved_files/*
/database/__pycache__/
.ruff_cache/
*.csv
bot.log
/database/db_config.py
images.py
.pytest_cache/
.vscode/
*.xlsx
*.jpg
daily_report.png
database/db_config.py

